
/*///////////////////////////////////////activité ///////////////////////////////////*/

.oc-img-get_act-momo
{
  width: 100%;
  height: 200px; 
}
.bo-sav
{
	margin-top: 7%;
}
#tabact
{
	width: 100%;
    height: 130px;
}
.imgact
{

}
.oc-section-date-activite
{
	align-self: flex-end;

}
.oc-h1-activite
{
	margin-bottom: 50px;
}