

@media only screen and (min-width: 1070px){
.pre-act{
	
	background-color: #F29108;
	color: white;

}
@font-face {
    
    src: url('../fonts/poppins/Poppins-Bold.ttf');
        
}
.pre-act h1{
	font-size: 60px;
	text-align: center;
	margin-bottom:100px;
	padding-top: 2%;
  font-family: 'Poppins';
  
}
#para-act{
	display: flex;
	justify-content: center;
}
.oc-p-act{
	font-size: 30px;
	width: 1760px;
	margin-left: 146px;
  margin-right: 146px;
}
#suite-act{
	display: flex;
	justify-content: center;
}
#flech-act{
	display: flex;
	justify-content: center;
}
#oc-para-act-cacher
{
    display: none;
    word-wrap: break-word;
}

.bloc-act{
	display: flex;
    justify-content: space-around;
    margin: 35px;
}
#year{
	background-color: #F1F8FB;
	height: 230px;
}
#year::-webkit-scrollbar-thumb{
	background-color: #F29108;
	
}
#year::-webkit-scrollbar{
	width: 10px;
   
}
#year option{
	color:#F29108;
	font-size: 16px;
	
}
#option{
	color: white;
	font-size: 13px;
  border: 0;
	background-color: #F29108;	
	width: 120px;
	height: 36px;
	
}
.bo-coul{
	width: 270px;
    font-size: 13px;
    margin-left: 1%;
}
#activ{
	display: flex;
	justify-content: space-around;
}

.cont{
	width: 220px;
	margin: 16px;
	margin-top: 0;
	
}
.titac{
	color: #F29108;
	padding-top: 15px;
	

}
@font-face {
  src: url('../fonts/nunito/Nunito-Black.ttf');
  font-family: 'Nunito-Black';
}
.titre{
  font-family: 'Nunito-Black';
	font-size: 18px;
}
@font-face {
  src: url('../fonts/nunito/Nunito-Regular.ttf');
  font-family: 'Nunito-Regular';
}
.text{
	font-size: 16px;
  font-family: 'Nunito-Regular';
  height: 350px;
}

#fich a{
   text-decoration: none;
   background-color: #F29108;
   color: white;
   padding: 3px; 
}
.bo-sav{
color: white;
  font-size: 16px;
  font-family: 'Nunito-Regular';
    background-color: #F29108;
    border: 0;
    width: 135px;
    height: 26px;
}
#tabact{
	width: 330px;
    height: 240px;
}
#tabact tr{
	border-bottom: 7px solid #F1F8FB;	
	height: 50px;
	width: 50px;
}
#tabact td{
	border-right: 7px solid #F1F8FB;
	width: 25%;
}
.but{
	padding: 18px;
	border: 0;
	width: 50px;
  height: 50px;
}
.tous{
	
	  color: white;
    font-size: 13px;
    border: 0;
    height: 36px;
    width: 95px;
    margin-top: 63px;
}
.custom-select
{
	border: 0;

}

.ui-datepicker-calendar {
   display: none;
}
.ui-datepicker-month {
   display: none;
}
.ui-datepicker-next,.ui-datepicker-prev {
  display:none;
}
}

